<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="ANSI">
	<title>Disease</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<script src="/static/js/jquery-2.1.4.min.js"></script>  
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" href="/static/css/style.css">

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <style> 
        .col-md-4{float:right;margin-right:5px;margin-top:-5px}
        .panel-heading{background-color: #3c763d;}
        /* css注释：对divcss5-right设置float:right即可让对象靠右浮动 */ 
    </style> 
</head>

<body style="background-color:rgb(247, 245, 246);">
	<!--<script>
            function CheckValue(event){
                if (document.getElementById('teaminput').value == '' && document.getElementById('playerinput').value == ''){
                    alert("请任意输入疾病名或代谢物进行查询！");
                }
            }
    </script>  -->

    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">D&M</a>
					<ul class="navbar-nav nav">
						<li><a href="../Home">Home</a></li>
                        <li class="active"><a href="../Disease">Disease</a></li>  <!--这里是相对 URL - 指向站点内的某个文件（href="index.html"）-->
						<li><a href="../Metabolism">Metabolism</a></li>
						<li><a href="../Tutorial">Tutorial</a></li>
						<li><a href="../About">About</a></li>
					</ul>
				</div>
			</div>
    </div>

    <br><br><br>
    <form class="form-inline" action="" method="post" novalidate>
       {% csrf_token %}
        <div class="form-group">
          <label for="Disease Name">Disease Name </label>
          <input type="text" class="form-control" id="Disease Name" placeholder="input" name="diseasename"> 
        </div>
        <button type="submit" class="btnsubmit" onclick="CheckValue(event)" id="s1">Submit</button>
    </form>

<!--  
    <button type="export" class="btnexport" id="s2">Export</button>
-->  
{% for key, value in map.items %}
<h1> {{ value.diseasename}}</h1>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <b>
                DESCRIPTIONS
            </b>
        </h3>
    </div>
    <div class="panel-body">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Type I diabetes mellitus (T1D)</b>, also designated <b>insulin-dependent diabetes mellitus (IDDM)</b>, 
            is a disorder of glucose homeostasis characterized by susceptibility to ketoacidosis in the absence of insulin therapy. It is a genetically heterogeneous autoimmune disease affecting about 0.3% of Caucasian populations (<a href="https://www.sciencedirect.com/science/article/pii/016756999090049F?via%3Dihub">Todd, 1990 </a>). Genetic studies of T1D have focused on the identification of loci associated with increased susceptibility to this multifactorial phenotype. 
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The classic phenotype of diabetes mellitus is <b>polydipsia, polyphagia, and polyuria</b> which 
            result from hyperglycemia-induced osmotic diuresis and secondary thirst. These derangements result in long-term complications that affect the eyes, kidneys, nerves, and blood vessels.
        </p>
    </div>
</div>

<hr />
<main class="container">
    <div class="col-md-6">
        <div>
          <img height="450" width="450" decoding="async" src="{{ value.picture}}" class="img-rounded" alt="Not available">
        </div>
    </div>
    <div class="row mb-6">
        <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">KEGG</strong>
            <h3 class="mb-0">{{ value.diseasename}}</h3>
            <p class="card-text mb-auto">This is the reference metabolism pathway of {{ value.diseasename}}</p>
            <a href="https://www.genome.jp/pathway/{{ value.kegg}}" class="stretched-link">Click to learn more</a>
            </div>
            {% endfor %}
               <hr /> 

            <div class="p-4">
                <h5 class="fst-italic">Wanna know more diseases?</h5>
                <ol class="list-unstyled mb-0">
                  <li><a href="Type Ⅰ Diabetes">Type Ⅰ Diabetes</a></li>
                  <li><a href="Type Ⅱ Diabetes">Type Ⅱ Diabetes</a></li>
                  <li><a href="Obesity">Obesity</a></li>
                  <li><a href="Phenylketonuria">Phenylketonuria</a></li>
                  <li><a href="Prostate cancer">Prostate cancer</a></li>
                  <li><a href="Small cell lung cancer">Small cell lung cancer</a></li>
                  <li><a href="Non-small cell lung cancer">Non-small cell lung cancer</a></li>
                  <li><a href="Thyroid cancer">Thyroid cancer</a></li>
                  <li><a href="Colorectal cancer">Colorectal cancer</a></li>
                  <li><a href="Ovarian cancer">Ovarian cancer</a></li>
                </ol>
              </div>
        </div>
        </div>
    </div>
</main>

<br /><br /><br />
<hr />
<h3 class="blog-post-title mb-1">Gene Information</h3>
    <div class='row'>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <div class="tab-content ">
                <div class="tab-pane active" id="Total">
                
                    <table class="table table-striped table-responsive-sm table-hover" id="query1">
                        <thead class="thead-light">
                            <tr>
                                <th style="text-align:center" width="3"> Omim ID</th>
                                <th style="text-align:center" width="250"> Gene ID</th>
                                <th style="text-align:center" width="3"> Gene Name</th>
                                <th style="text-align:center" width="3"> Location</th>
                                <th style="text-align:center" width="3"> Phenotype</th>
                                <th style="text-align:center" width="10"> Details</th>                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in gene.items %}
                            <tr>
                                <!--<td style="text-align:center">  <a href="players/{{ value.ID }}">{{ value.ID}} </a> </td>-->
                                <td style="text-align:center">     {{ value.Omim_ID}}</td>
                                <td style="text-align:center">     {{ value.Gene_ID}}</td>
                                <td style="text-align:center">     {{ value.Gene_name}}</td>
                                <td style="text-align:center">     {{ value.Location}}</td>
                                <td style="text-align:center">     {{ value.Phenotype}}</td>
                                <td style="text-align:center">     <a href="{{ value.Details}}">More Details</a></td>
                                <!--<td style="text-align:center"> <a href="clubs/{{ value.Club }}">{{ value.Club}}</a></td>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>

    </div>


<hr />

<h3 class="blog-post-title mb-1">Metabolism Information</h3>
    <div class='row'>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <div class="tab-content ">
                <div class="tab-pane active" id="Total">
                
                    <table class="table table-striped table-responsive-sm table-hover" id="query2">
                        <thead class="thead-light">
                            <tr>
                                <th style="text-align:center" width="250"> Metabolism ID</th>
                                <th style="text-align:center" width="3"> Metabolism Name</th>
                                <th style="text-align:center" width="3"> Formula</th>
                                <th style="text-align:center" width="3"> State</th>
                                <th style="text-align:center" width="10"> Reference</th>  
                                <th style="text-align:center" width="10"> Details</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in metabolism.items %}
                            <tr>
                                <!--<td style="text-align:center">  <a href="players/{{ value.ID }}">{{ value.ID}} </a> </td>-->
                                <td style="text-align:center">     {{ value.Metabolism}}</td>
                                <td style="text-align:center">     {{ value.Metabolism_Name}}</td>
                                <td style="text-align:center">     {{ value.Formula}}</td>
                                <td style="text-align:center">     {{ value.State}}</td>
                                <td style="text-align:center">     {{ value.Reference}}</td>
                                <td style="text-align:center">     <a href="{{ value.Details}}">More Details</a></td>
                                <!--<td style="text-align:center"> <a href="clubs/{{ value.Club }}">{{ value.Club}}</a></td>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
           $('#query1').DataTable({
            // 表下方页脚的类型，具体类别见[官网](https://datatables.net/examples/basic_init/alt_pagination.html)
            "pagingType": "simple_numbers",
            searching: false,
            destroy : true,
            stateSave: true,
       } );
    } );
    </script>

<script type="text/javascript">
    $(document).ready(function() {
       $('#query2').DataTable({
        "pagingType": "simple_numbers",
        searching: false,
        destroy : true,
        stateSave: true,
   } );
} );
</script>

</body>
</html>
