<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tutorial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">      
</head>

<body style="background-color: rgb(247, 245, 246);">
	<div class="container">
		<!-- <img src="images/eupan_logo.svg" alt="logo"> -->
		<div class="nanbar navbar-inverse navbar-fixed-top">
			
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">D&M</a>
					<ul class="navbar-nav nav">
						<li><a href="Home">Home</a></li>
                        <li><a href="Disease">Disease</a></li>
                        <li><a href="Metabolism">Metabolism</a></li>
						<li class="active"><a href="Tutorial">Tutorial</a></li>
						<li><a href="About">About</a></li>
					</ul>
				</div>
			</div>
			
		</div>


		 <br><br><br>
     <main>
      <h1>Get started with D&M</h1>
      <p class="fs-5 col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>D&M(Disease and Metabolic Information Database)</strong>, a comprehensive database which integrated <a href="https://hmdb.ca">HMDB</a> and <a href="https://www.omim.org/">OMIM</a> and <a href="https://www.kegg.jp">KEGG</a>, where you are able to  look up disease names to get the corresponding genetic information and metabolic information, and also avaliable for  looking up metabolite names to get the corresponding disease information and metabolic information. For some diseases, D&M also provides metabolic pathway maps drawn by <em>Cytoscape.js</em> to see all disease-related metabolites and interactions at a glance.</p>
  
      <div class="mb-5">
        <a href="kenan" class="btn btn-primary btn-lg px-4">Cytoscape examples</a>
      </div>
  
      <hr class="col-3 col-md-2 mb-5">

    </main>

    <hr />
<br><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <p data-anchor-id="69g1"><strong>Feel upset to collect different informantion which stored in multiple databases? </strong></p>
        <p data-anchor-id="69g1"><strong>Wanna check required informantion in one table?</strong></p>
        <p data-anchor-id="69g1"><strong>Hope to see the metabolic pathway diagram while comparing the properties of metabolites?</strong></p>
      </div>
    </div>
        <p data-anchor-id="9il9">We designed following pages:</p>

        <p data-anchor-id="d5mo"><strong>(1) Home</strong></p>
        <p>Here displays our query entries. Read the discription of each query entry and choose the one you need!</p>
 
        <p data-anchor-id="d5mo"><strong>(2) Disease</strong></p>
        <p data-anchor-id="ap4r">When you submit your disease name, you will see the disease discription and KEGG,feel to "Click to learn more" and reach the origin KEGG.</p>
        <p data-anchor-id="62jq">Lower right corner dispalys some high search frequency diseases, which will link you to the right page.</p>
        <p data-anchor-id="csos">Gene informantion and metabolism information are dieplayed in tables, you are able to show the numbers of items and turn pages at the bottom. Details link to OMIM page.</p>

        <p data-anchor-id="b9b2"><strong>(3) Metabolism</strong></p>
        <p data-anchor-id="5w1f">When you submit your mtabolites name, you will see tables which displayed metabolism information and correlated disease.</p>
        <p data-anchor-id="95og">The usage is same to the Disease Page.</p>

        <p data-anchor-id="zd1i"><strong>(4) About</strong></p>
        <p data-anchor-id="p74x">If you have any questions and adivice, feel free to cantact us in this page.</p>

	</div>
	<br>

</body>
</html>